{% extends "base.html" %}

{% block content %}

  <link rel="stylesheet" href="/static/css/aboutUs.css" />
  <section class="about-container">
    <h1>About Us</h1>
    <p>RePortall is a platform for reporting and reviewing local services such as shops, hospitals, transportation, and more. The goal is to improve accountability in local areas.</p>

    <h2>Team Members</h2>
    <div class="team">
      <div class="member">
        <img src="/static/images/WhatsApp Image 2025-05-30 at 15.37.19_725da74a.jpg" alt="Samad Amin Sifat">
        <p><strong>Samad Amin Sifat</strong><br>ID: 20234103091</p>
      </div>
      <div class="member">
        <img src="/static/images/Screenshot_2023-10-23-13-36-53-702_com.whatsapp.jpg" alt="Md. Abu Raiyeen Reshad">
        <p><strong>Md. Abu Raiyeen Reshad</strong><br>ID: 20234103103</p>
      </div>
      <div class="member">
        <img src="/static/images/WhatsApp Image 2025-05-30 at 15.21.16_aab827fe.jpg" alt="Shihab Ahmed">
        <p><strong>Shihab Ahmed</strong><br>ID: 20234103104</p>
      </div>
      <div class="member">
        <img src="/static/images/Sulaiman photo IMG_6168.jpg" alt="Sulaiman Khan">
        <p><strong>Sulaiman Khan</strong><br>ID: 20234103249</p>
      </div>
    </div>
  </section>

{% endblock %}
