/* Base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 242, 232);
    padding: 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  /* Logo box */
  .logo {
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Navigation menu */
  .nav-menu a {
    color: orange;
    text-decoration: none;
    margin: 0 12px;
    padding: 8px 14px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }
  
  .nav-menu a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .nav-menu a.active {
    background-color: white;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  